<% obj.each do |article| %>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div class="article-title">
                    <%= link_to article.title, article_path(article) %>
                </div>
                <div class="article-body">
                    <%= truncate(article.description, length: 100) %>
                    <div class="article-meta-details">
                        <small>Criado por: <%= article.user.username if article.user%>,
                                <%= time_ago_in_words(article.created_at) %> atrás,
                                ultima modificação: <%= time_ago_in_words(article.updated_at) %> atrás</small>
                    </div>            
                </div>
                <% if logged_in? && (current_user == article.user || current_user.admin?) %>
                    <div class="article-actions">
                        <%= link_to "Editar este artigo", edit_article_path(article), class: "btn btn-xs btn-primary" %>
                        <%= link_to "Deletar este artigo", article_path(article), method: :delete, 
                                                        data: { confirm: "Tem certeza que quer apagar este artigo?"}, 
                                                        class: "btn btn-xs btn-danger" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>