<h2 align="center">Título: <%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
    <% if @article.user %>
        <ul class="listing">
            <div class="row center">
                <div class="col-md-4 col-md-offset-4">
                    <li>Criado por:</li>
                    <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
                    <li class="article-title">
                        <%= link_to @article.user.username, user_path(@article.user) %>
                    </li>
                    <li><small>
                        <%= pluralize(@article.user.articles.count, "artigo") if @article.user.articles %>
                    </small></li>
                </div>
            </div>
        </ul>
    <% end %>
    <h4 class="center description"><strong>Descrição:</strong></h4>
    <hr>
    <%= simple_format(@article.description) %>
    <div class="article-actions">
        <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
            <%= link_to "Editar este artigo", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
            <%= link_to "Deletar este artigo", article_path(@article), method: :delete, 
                                          data: { confirm: "Tem certeza que quer apagar este artigo?"}, 
                                          class: "btn btn-xs btn-danger" %>
        <% end %>                                            
        <%= link_to "Ver todos os artigos", articles_path, class: "btn btn-xs btn-success" %>
    </div>
</div>