<h1 align="center">Todos os bloggerinhos</h1>
<div align="center">
    <%= will_paginate %>
    <% @users.each do |user| %>
        <ul class="listing">
            <div class="row">
                <div class="well col-md-4 col-md-offset-4">
                    <li><%= link_to gravatar_for(user), user_path(user) %></li>
                    <li class="article-title">
                        <%= link_to user.username, user_path(user) %>
                    </li>
                    <li><small><%= pluralize(user.articles.count, "artigo") if user.articles %></small></li>
                    <% if logged_in? and current_user.admin? %>
                        <li><%= link_to "Deletar este usuário", user_path(user), method: :delete,
                              data: { confirm: "Tem certeza que quer deletar este usuário e todas suas publicações?" } %></li>
                    <% end %>
                </div>
            </div>
        </ul>
    <% end %>
    <%= will_paginate %>
</div>