<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="https://www.ianealvaroproducoes.com">Arregaçando tudo</a>
            by <a href="http://www.embuscadoms.com">UnB</a>
        </small>
        <nav>
            <ul>
                <li>Não temos uma pagina About</li>
            </ul>
        </nav>
    </footer>
</div>